<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:object="${form}" method="post">
        <!-- id -->
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="price">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">내용</label>
            <input type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요" />
        </div>
        <td>
            <button type="submit" class="btn btn-primary">수정</button>
<!--            <a href="#" th:href="@{/board/list}" class="btn btn-danger" method="delete">삭제</a>-->
<!--            <button href="#" th:href="@{/board/{id}/delete (id=${form.id})}" type="submit" class="btn btn-danger">삭제</button>-->
<!--            <a href="#" th:href="'javascript:delete('+${form.id}+')'" class="btn btn-danger">삭제</a>-->
        </td>

    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script>
<!--    function delete(id) {-->
<!--        var form = document.createElement("form");-->
<!--        form.setAttribute("method", "post");-->
<!--        form.setAttribute("action", "/board/" + id + "/delete");-->
<!--        document.body.appendChild(form);-->
<!--        form.submit();-->
<!--    }-->
</script>
</html>